Address.View/Service References/WCFAddress/AddressService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5699/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Address.Business.Entities" />
  <xs:element name="Address_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="address" nillable="true" type="q1:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Address_AddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_RestoreFromHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="H_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_RestoreFromHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Address_RestoreFromHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_GetDetailWithChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_GetDetailWithChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="Address_GetDetailWithChildrenResult" nillable="true" type="q2:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_GetDetailWithHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_GetDetailWithHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="Address_GetDetailWithHistoryResult" nillable="true" type="q3:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_Review">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address_ReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Address_ReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_AddAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="history" nillable="true" type="q4:History" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_AddAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="History_AddAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="history" nillable="true" type="q5:History" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="History_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_GetAddressOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="ItemPerPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_GetAddressOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="History_GetAddressOfUserResult" nillable="true" type="q6:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_GetDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="H_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History_GetDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="History_GetDetailResult" nillable="true" type="q7:History" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Address.Business.Entities" minOccurs="0" name="user" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_AddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>