Address.View/Service References/WCFAddress/AddressService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Address.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Address.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5699/AddressService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_Border" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_Center" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_Children" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="A_CreatedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_CreatedOnDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="A_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_History" nillable="true" type="tns:ArrayOfHistory" />
      <xs:element minOccurs="0" name="A_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_Level" type="xs:int" />
      <xs:element minOccurs="0" name="A_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_ParentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_ReviewedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_ReviewedOnDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="A_Status" type="xs:int" />
      <xs:element minOccurs="0" name="A_User" nillable="true" type="tns:User" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Points" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="ArrayOfHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="History" nillable="true" type="tns:History" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistory" nillable="true" type="tns:ArrayOfHistory" />
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element minOccurs="0" name="H_Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_ActionDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="H_AddressID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_Border" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_Center" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_CreatedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_CreatedOnDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="H_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_IsOwner" type="xs:int" />
      <xs:element minOccurs="0" name="H_IsRestore" type="xs:int" />
      <xs:element minOccurs="0" name="H_Level" type="xs:int" />
      <xs:element minOccurs="0" name="H_ModifiedOnDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="H_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_ParentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="H_Rate" type="xs:int" />
      <xs:element minOccurs="0" name="H_Status" type="xs:int" />
      <xs:element minOccurs="0" name="H_User" nillable="true" type="tns:User" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Points" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="History" nillable="true" type="tns:History" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="U_Address" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="U_Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="U_CreatedOnDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="U_FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Gender" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="U_History" nillable="true" type="tns:ArrayOfHistory" />
      <xs:element minOccurs="0" name="U_Role" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="U_User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>